<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Login</h3>
</div>
<div class="modal-body" id="modal-body">
  <form ng-submit="handleLogin()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="loginData.username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="loginData.password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
